.container{
    max-width: 800px;
    margin: 0 auto;
}

section{
    border: 1px solid black;
    margin: 20px 0px;
}

.box{
    width: 200px;
    height: 200px;
}

.b1{
    background-color: #80E1D4;
}

.b2{
    background-color: #9696ff;
}

.b3{
background-color: #85E1F4;
}

.b4{
    background-color: #E89380;
}


/* 
**************************************************************************************************
Transitions in CSS
**************************************************************************************************
*/
.transition .b1{
    /* transition-property: width;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
    transition-delay: 0.5s; */

    transition: width 1s ease-in-out 0.5s;
}

.transition .b1:hover{
    width: 400px;
    height: 300px;
}

.transition .b2{
    transition: width 1s, height .5s;
    transition-timing-function: ease-out;
    transition-delay: .5s;
}

.transition .b2:hover{
    width: 250px;
    height: 250px;
}

.transition .b3{
    transition: transform 1s cubic-bezier(.64,-0.49,.43,1.44) .5s;
}

.transition .b3:hover{
    transform: rotate(90deg);
}

.transition .b4{
    transition: all 1s ease-in;
}

.transition .b4:hover{
    background-color: #CC80CC;
    border-radius: 30px;
}

/* 
**************************************************************************************************
Transform property in CSS
**************************************************************************************************
*/

